@font-face {
    font-family: "Nexa Light";
    src: url(nexa-web-fonts/NexaLight/Nexa-Light.ttf),
    	 url(nexa-web-fonts/NexaLight/Nexa-Light.eot);
}
@font-face {
    font-family: "Nexa Light Italic";
    src: url(nexa-web-fonts/NexaLight/Nexa-Light-Italic.ttf),
    	 url(nexa-web-fonts/NexaLight/Nexa-Light-Italic.eot);
}
@font-face {
    font-family: "Nexa Regular";
    src: url(nexa-web-fonts/NexaLight/Nexa-Regular.ttf),
    	 url(nexa-web-fonts/NexaLight/Nexa-Regular.eot);
}
@font-face {
    font-family: "Nexa Bold";
    src: url(nexa-web-fonts/NexaLight/Nexa-Bold.ttf),
    	 url(nexa-web-fonts/NexaLight/Nexa-Bold.eot);
}
*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family: 'Nexa Light', sans-serif;
	font-weight: 200;
}
body{
	margin:0;
	background-color: #212121;
}
body, html, #content{
	height: 100%;
/* 	overflow-x: hidden; */
}

a img{
	border:none;
}
.hidden{
	display: none !important;
}
#content{
	width:100%;
	height: 100%;
	/* fallback */
	background-color: #EEEEEE;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(radial, center center, 0, center center, 100%, from(#ffffff), to(#d1d3d5));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-radial-gradient(circle, #fefefe, #d1d3d5);
	/* Firefox 3.6+ */
	background: -moz-radial-gradient(circle, #fefefe, #d1d3d5);
	/* IE 10 */
	background: -ms-radial-gradient(circle, #fefefe, #d1d3d5);
	min-width: 960px;
}

	.modal, #apps{
		visibility: hidden;
	}
	#r{
		position: absolute;
		height: 80%;
		max-width: 100%;
		bottom:0px;
		right: 0px;
		z-index: 1;
		opacity: 0.2;
		overflow: hidden;
	}
	#title{
		position: absolute;
		top:10px;
		left:10px;
		padding:5px 20px 20px 20px;
		font-size: 28px;
		font-weight: 400;
		font-family: 'Nexa Regular', sans-serif;
		z-index: 3;
	}
	#title, .modal-forgot{
		color:#ce1126;
	}
		#title i{
			color:#333;
			font-weight: 100;
			font-family: 'Nexa Light Italic', sans-serif;
		}
	#nav{
		position: absolute;
		right:0px;
		top:2px;
		font-size: 20px;
		color:#333;
		visibility: hidden;
	}	
		#nav a{
			text-decoration: none;
		}
		.nav-item{
			padding: 15px 0px;
			margin-right: 22px;
			display: inline-block;
			cursor: pointer;
			color:#000;
			font-size: 24px;
		}
		.nav-item-selected{
			border-top:4px solid red;
			color:red;
		}
		#user-full-name, #sign-out{
			display: inline-block;
		}
		#sign-out{
			margin-left: 10px;
			color:#ce1126;
		}
		@media(max-width: 500px){
			#title-logo{
				display: block;
			}
			#title{
				padding-top: 10px;
			}
			#sign-out{
				display: block;
				text-align: right;
				margin-top: 5px;
			}
		}
	#settings{
		position: relative;
		top:110px;
		z-index: 3;
	}
	#apps{
		position: relative;
		top:150px;
		z-index: 3;
		width:700px;
		margin: 0 auto;
	}
		.app-wrapper{
			position: relative;
			display: inline-block;
			width: 33%;
			height:200px;
			line-height: 200px;
			color:#FFF;
			margin-top: 10px;
			font-size: 20px;
			cursor: pointer;
			top: -20px;
			-webkit-transition:top .5s, zoom 0s, opacity .5s;
			transition:top .5s, zoom 0s, opacity .5s;
		}
		.app{
			position: relative;
			background-color:#ce1126;
			border-radius: 10px;
			height:100%;
			width:200px;
			margin: 0 auto;
			text-align: center;
			font-size: 26px;
		}
		.app-down{
			top: 0px !important;
		}
		.app-arrow{
			position: absolute;
			bottom:30px;
			left:50%;
			width:40px;
			margin-left:-20px;
		}
		.faded{
			zoom: 0.8;
			opacity: 0.5;
		}
	@media(max-width: 900px){
		#apps{
			width:700px;
		}		
	}
	@media(max-width: 750px){
		#apps{
			width:100%;
			padding: 0px 50px;
		}	
			.app-wrapper, .app{
				width: 100%;
			}
	}
	.modal{
		width:600px;
		height:300px;
		margin-top: -150px;
		border-radius: 15px;
		background-color: #333;
		padding:35px;
		margin: auto;
		position: absolute;
		top:0;left:0;right:0;bottom: 0;
		z-index: 2;
	}
	#login-modal{
		margin: 0 auto;
		height:310px;
		margin-top: -170px;
		top:50% !important;
		-webkit-transition:margin-top .7s;
		transition:margin-top .7s;
	}
	.login-modal-centered{
		margin-top: -155px !important;
	}
	#new-password-modal{
		height:300px;
	}
	#new-password-success-modal{
		height:260px;
	}
	@media(max-width: 800px){
		.modal{
			width:400px;
		}		
	}
	@media(max-width: 450px){
		.modal{
			width:350px;
		}		
	}
		.modal-title{
			color:#FFF;
			margin-bottom: 30px;
			font-size: 28px;
			width: 100%;
			text-align: center;
		}
		#forgot-modal{
			padding: 40px;
		}
		#forgot-modal .modal-title, #check-email-modal .modal-title{
			margin-top: 0px;
			margin-bottom: 0px;
			text-align: left;
		}
		.modal p{
			color: #bfbfbf;
			font-size: 20px;
			line-height: 200%;
		}
		.modal-input{
			width:100%;
			background-color: #a5a5a5;
			padding: 15px;
			padding-left: 30px;
			margin: 10px 0px;
		}
		.input-wrong{
			-webkit-animation: fade-transition 2s;
			animation: fade-transition 2s;
		}
		@-webkit-keyframes fade-transition {
		    0%, 100% { 
		    	background-color: #E2E2E2;
		    	color: #000; 
		    }
		    20%, 80% { 
		    	background-color: #FF4F4F;
		    	color: #FFF;
		    }
		}
		.modal-input:focus{
			outline:0;
		}
		.modal-input::-webkit-input-placeholder { /* WebKit browsers */
		    color:    #505050;
		    font-style: italic;
		}
		.modal-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color:    #505050;
		    font-style: italic;
		}
		.modal-input::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color:    #505050;
		    font-style: italic;
		}
		.modal-input:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color:    #505050;
		    font-style: italic;
		}
		.modal-input, .btn{
			font-size: 19px;
			border:none;
			border-radius: 30px;
		}
		.btn{
			padding:15px;
			border-radius: 30px;
		}
		.row{
			position: relative;
			width: 100%;
		}
			.input-wrapper{
				display: block;
			    overflow: hidden;
			    padding-right:8px;
			    margin: 10px 0px;
			}
				.modal-input-part{
					width: 100%;
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
					margin:0px;
				}
			.modal-btn{
				background-color:#359bd3;
				color:#FFF;
				font-weight: 100;
				padding:15px 25px;
				margin-top: 0px;
				cursor: pointer;
			}
			.modal-btn-part{
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				float:right;
			}
			.modal-btn:hover{
				background-color:#55b1e4;
			}
		.modal-forgot{
			display: block;
			margin-top: 30px;
			font-size: 20px;
			font-weight: 100;
			text-decoration: none;
			text-align: center;
		}
		#check-email-modal .modal-forgot{
			margin-top: 20px;
			text-align: left;
		}
.next-icon{
	display: inline-block;
	width:25px;
	height:25px;
	line-height: 25px;
	border-radius: 50%;
	border:2px solid #FFF;
	text-align: center;
	font-size: 20px;
	margin-left: 5px;
	color: #FFF;
}
.next-icon:before{
	content:"\2192";
}
.btn-loading{
        background-color: rgba(0, 0, 0, 0.2) !important;
        -webkit-animation: loading-stripes 2s linear infinite;
        background-image: -webkit-linear-gradient(-45deg,rgba(255, 255, 255, 0.4) 25%,
                                                 transparent 25%,
                                                 transparent 50%,
                                                 rgba(255, 255, 255, 0.4) 50%,
                                                 rgba(255, 255, 255, 0.4) 75%,
                                                 transparent 75%,
                                                 transparent) !important;
        background-size: 44px 44px;
}
@-webkit-keyframes loading-stripes {
  from { background-position: 44px 0; }
  to { background-position: 0 0; }
}
@media(min-width:1400px){
	#apps{
		width:65%;
	}
	.app-wrapper{
		height:220px;
		line-height: 220px;
	}
	.app{
		width:270px;
	}
}
@media(min-width:2100px){
	.app-wrapper{
		height:250px;
		line-height: 250px;
	}
	.app{
		width:370px;
	}

}
.tooltip {
	line-height: 100%;
	color:#000;
	background: #FFF;
	border: 2px solid #CCC;
	border-radius: 8px;
	position: absolute;
	left:50%;
	margin-left: -200px;
	width: 400px;
	height: 55px;
	margin-top: 20px;
	-webkit-transition:height 0.3s, margin-top .5s;
	transition:height .3s, margin-top .5s;
}
.tooltip-down{
	margin-top: 30px;
}
.tooltip-expanded{
	height:500px;
}
.tooltip:before {
	position: absolute;
	display: inline-block;
	/*border-top: 7px solid transparent;
	border-right: 7px solid #eee;
	border-bottom: 7px solid transparent;
	border-right-color: rgba(0, 0, 0, 0.2);*/
	border-left: 20px solid transparent;
	border-bottom: 20px solid #CCC;
	border-right: 20px solid transparent;
	border-bottom-color: #CCC;
	left: 50%;
	margin-left: -17px;
	top: -20px;
	content: '';
}
.tooltip:after {
	position: absolute;
	display: inline-block;
	/*border-top: 6px solid transparent;
	border-right: 6px solid #eee;
	border-bottom: 6px solid transparent;*/
	border-left: 18px solid transparent;
	border-bottom: 18px solid #FFF;
	border-right: 18px solid transparent;
	left: 50%;
	margin-left: -15px;
	top: -17px;
	content: '';
}
.tooltip-title{
	color:#3798c7;
	text-align: center;
	font-size: 24px;
	padding:10px 5px;
	padding-top: 20px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 2px solid #DDD;
	background-color: #FFF;
	z-index: 2;
	position: relative;
}
.tooltip-list{
	z-index: 1;
	position: relative;
	height: 100%;
	margin-top: -50px;
	padding-top: 57px;
    margin-right: 10px;
	overflow: scroll;
}
.tooltip-list li{
    list-style-type: none;
    font-size: 22px;
    padding:20px 5px;
	padding-left: 20px;
    margin-right: 30px;
	border-bottom: 2px solid #DDD;
	font-family: 'Nexa Regular';
}
.settings-menu-item{
	display: inline-block;
}

#settings-menu a {
	margin-left: 20px;
	text-decoration: none !important;
}
.settings-menu-item-selected{
	border-radius: 20px;
	background-color: #CCC;
	color:#FFF;
}
#settings-menu, #my-applications, #my-account{
	display: inline-block;
	vertical-align: top;
}
#settings-menu{
	padding-left: 30px;
	width: 20%;
	max-width: 250px;
}
	.settings-menu-item{
		font-size: 22px;
		padding: 7px 15px;
		margin:0px 0px;
	}
	.settings-menu-item-header{
		font-family:'Nexa Light', sans-serif;
		color:#000 !important;
		font-size: 26px;
		padding-left: 0px;
		padding-top:0px;
		margin-top:0px !important;
		margin-bottom: 10px;
	}
#my-applications{
	min-width: 400px;
	width: 70%;
	background-color: #FCFCFD;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
	margin-left: 40px;
	border-radius: 10px;
	max-width: 1100px;
}

table.dataTable thead th{
	border-bottom:none !important;
}
table.dataTable{
	border-spacing: 0px !important;
}
#my-applications h1{
	margin:5px 0px;
	margin-top: 15px;
	text-align: center;
	font-family: 'Nexa Regular', sans-serif;
	font-size: 24px;
}

.add-application {
	float: right;
	display: inline-block;
	vertical-align: middle;
	padding-right: 20px;
}
.add-application a {
	display: block;
	padding-right: 20px;
	text-decoration: none;
	width:25px;
	overflow: hidden;
	text-indent: -99999px;
	background:transparent url(add.png) no-repeat;
}
.search-wrapper{
	border:1px solid #CCC;
	background-color: #F4F4F4;
	border-radius: 16px;
	font-size: 16px;
	margin-bottom: 5px;
	width:auto;
	margin-right: 15px;
	text-align: left;
}
.search-wrapper .icon-search{
	display: inline-block;
	margin: 5px;
	margin-left: 6px;
}
#my-applications input{
	display: inline-block;
	border:none;
	background-color: transparent;
	font-size: 16px;
	width:auto;
}
#my-applications input:active, #my-applications input:focus{
	outline: 0;
}
/* override datatables styles*/
#my-applications-table_length, #my-applications-table_info, #my-applications-table_paginate{
	display: none;
}

#my-applications-table_filter {
	margin-right: 50px;
	margin-top:-35px;
}

table.dataTable tr.odd, table.dataTable tr.odd td.sorting_1, table.dataTable tr.even td.sorting_1 {
	background-color: transparent !important;
}
table.dataTable td {
	padding: 10px!important;
	font-size: 20px;
	border-top:2px solid #EEEEEF;
	font-weight: normal;
	font-family: 'Nexa Regular', sans-serif;
}
thead{
	color:#3798c7 !important;
}
thead th{
	padding: 10px 10px 10px 25px !important;
	text-align: left;
}
.dataTable tr td:first-child{
	padding-left: 25px !important;
}
/*.th-highlight{
	background-color: #3797C6;
	border-radius: 15px;
	color:white;
	padding:5px 15px;
}*/
.down-arrow:before{
	content: "\25BE";
}
.down-arrow{
	position: relative;
	bottom: 5px;
	left: -9px;
	font-style: normal;
	font-size: 14px;
}
.delete-application{
	text-align: right;
	cursor: pointer;
}
.delete-application img{
	margin-right: 10px;
}
#my-account{
	width: 70%;
	max-width: 1100px;
}
#my-account div{
	padding:30px;
	padding-top: 15px;
	background-color: #FCFCFD;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
	border-radius: 10px;
	margin-bottom: 20px;
}
#my-account *{
	font-family: 'Nexa Regular', sans-serif;
	font-size: 18px;
}
#my-account h3{
	text-align: center;
	font-size: 24px;
	margin-top: 0px;
}
#my-account .row{
	box-shadow: none;
	padding: 0px;
}
#my-account input{
	border:none;
	border-bottom:1px solid #B7B7B7;
	margin-left: 5px;
	width: calc(100% - 240px);
}
#my-account input:focus{
	outline:0;
}
#email-area a{
	text-decoration: none;
}
#password-area label{
	display: inline-block;
	width:220px;
	text-align: right;
}
.button-wrapper{
	min-height: 20px;
}
#change-password-btn{
	border-radius: 5px;
	padding:10px 10px;
	font-size: 18px;
	position: absolute;
	right:18px;
	font-family: 'Nexa Light', sans-serif;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	margin-right: 0.1em !important;
}
#current-username{
	color:#6d6d6d;
	white-space: nowrap;
}
#account-tooltip{
	width:auto;
	height:auto;
	margin-left: 0px;
	left:auto;
	right:10px;
	z-index: 4;
	font-size: 20px;
}
#account-tooltip:before{
	left:auto;
	right:20px;
}
#account-tooltip:after{
	left:auto;
	right:22px;
}
#account-tooltip .tooltip-list{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
#account-tooltip .tooltip-list li{
	margin-right: 0px;
	padding:15px 15px;
}
#account-tooltip .tooltip-list li:first-child{
	padding-top: 20px;
}
#account-tooltip .tooltip-list li:last-child{
	border-bottom: none;
}
.good-alert{
	background-color: #EBF5EE !important;
	padding: 20px 30px !important;
	position: relative;
}
	.good-alert h4{
		color:#46A355;
		font-family: 'Nexa Bold', sans-serif;
		font-size: 18px;
		margin: 0px;
		margin-bottom: 10px;
	}
	.good-alert p{
		margin: 0px;
	}
	.good-alert .close{
		position: absolute;
		top:15px;
		right:15px;
		cursor: pointer;
	}
.add-application{
	cursor: pointer;
}
#shade{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index: 3;
	background-color: rgba(0,0,0,0.5);
}
#new-application-modal{
	background-color: #FFFFFF;
	padding: 0px;
	z-index: 4;
	height: 380px;
}
#new-application-modal *{
	font-family: 'Nexa Regular', sans-serif;
}
	.modal-header{
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		padding: 15px;
		margin: 0px;
		width: 100%;
		background-color: #F4F4F4;
		text-align: center;
		font-family: 'Nexa Regular', sans-serif;
		font-size: 22px;
	}
	.modal-body{
		padding:22px;
		border-top:2px solid #DDDDDD;
		border-bottom:2px solid #DDDDDD;
	}
	.half-row{
		display: inline-block;
		width: 49%;
		padding-right: 10px;
	}
		.half-row h5{
			margin: 0px;
			margin-top: 5px;
			font-size: 22px;
			font-family: 'Nexa Bold', sans-serif;
		}
	#new-application-modal .modal-input{
		border-radius: 5px;
		padding: 10px 10px;
		background-color: #F8F8F8;
		border:2px solid #DDD;
		margin-top: 0px;
	}
	.modal-footer{
		padding: 20px;
	}
	#new-application-modal .modal-btn{
		border-radius:5px;
		font-size: 22px;
		padding:10px 30px;
	}
	.cancel-btn{
		background-color: transparent;
		color:#000;
	}
.dataTable tbody tr:last-child td:first-child{
	border-bottom-left-radius:10px;
}
.dataTable tbody tr:last-child td:last-child{
	border-bottom-right-radius:10px;
}